extends pages

block content

block page_content
  div(class='app_page_wrapper')

    div(class='app_card full_w')
      div(class='app_card_header')
        div(class='app_card_text')
          | UOIT Connect_SOFE3700 Group Project
        div(class='app_card_time')
          | 2016-11-03
      div(class='app_card_content')
        img(src='/assets/img_dev/uoit_connect.png')
        p This website was designed with my friends as a major group project for SOFE3700. UOIT connect allows students to manage their timetable and organize their time to meet friends and arrange group activites. User is allowed to follow fellow classmates and the website will track their available time. After futher development this website will be released to student use.  
      div(class='app_card_footer')
        - var url='https://github.com/Mahesh-Ranaweera/SOFE3700project';
        a(href=url target='blank')
          div(class='app_link_btn smooth')
            | <span class="typcn typcn-social-github">


    div(class='app_card full_w')
      div(class='app_card_header')
        div(class='app_card_text')
          | TYPSnetwork Website and mobile app
        div(class='app_card_time')
          | 2016-05-30
      div(class='app_card_content')
        img(src='/assets/img_dev/typs_web1.png')
        p During the summer of 2016, I was hired by DreBu, a  non profit organization inorder to design a membersite. Main purpose of this website is to allow youths(of ages of 15-30) to seek support and guidance from peer supporters. Platform allows youths to be a supporter, participant or both. They are allowed to create a member account. Platform allows users to see other members and there supporting areas. Members are allowed to post events and posts.
        p Website is designed groundup using php, html, mysql(database) and js. Special js libraries such as masonry (used to stack divs) and ckeditor are used. Platform is available in mobile version too.
      div(class='app_card_footer')
        - var url='http://typsnetwork.x10.mx/';
        a(href=url target='blank')
          div(class='app_link_btn smooth')
            | WEBSITE <span class="typcn typcn-code">
        - var url='https://goo.gl/YVIf6Q';
        a(href=url target='blank')
          div(class='app_link_btn smooth')
            | <span class="typcn typcn-vendor-android">


    div(class='app_card full_w')
      div(class='app_card_header')
        div(class='app_card_text')
          | mi6softlab_v1 website (My old website)
        div(class='app_card_time')
          | 2016-04-30
      div(class='app_card_content')
        img(src='/assets/img_dev/web_sitev1.png')
        p This was my previous (2016-2017 Feb) website. Purely designed in html and js. This was my intial entry into website development.
      div(class='app_card_footer')
        - var url='http://mahesh-ranaweera.github.io/mi6softlab.github.io/designs.html';
        a(href=url target='blank')
          div(class='app_link_btn smooth')
            | WEBSITE <span class="typcn typcn-code">
        - var url='https://github.com/Mahesh-Ranaweera/mi6softlab.github.io';
        a(href=url target='blank')
          div(class='app_link_btn smooth')
            | <span class="typcn typcn-social-github">

    div(class='app_card full_w')
      div(class='app_card_header')
        div(class='app_card_text')
          | PaletteAPP
        div(class='app_card_time')
          | 2016-07-11
      div(class='app_card_content')
        img(src='/assets/img_dev/palette_appv1.png')
        p This was a simple color palette app. I concider this site as my first entry into js and responsive web designs.
      div(class='app_card_footer')
        - var url='http://mahesh-ranaweera.github.io/PaletteAPP/';
        a(href=url target='blank')
          div(class='app_link_btn smooth')
            | WEBSITE <span class="typcn typcn-code">
        - var url='https://github.com/Mahesh-Ranaweera/PaletteAPP';
        a(href=url target='blank')
          div(class='app_link_btn smooth')
            | <span class="typcn typcn-social-github">


    div(class='app_card full_w')
      div(class='app_card_header')
        div(class='app_card_text')
          | ParadigmShift2198 website
        div(class='app_card_time')
          | 2015-00-00
      div(class='app_card_content')
        img(src='/assets/img_dev/team2198_web.png')
        p This website was developed for my highschool robotic team. Teams social media sites were also launched with the site.
      div(class='app_card_footer')
        - var url='http://team2198.org/';
        a(href=url target='blank')
          div(class='app_link_btn smooth')
            | WEBSITE <span class="typcn typcn-code">
        - var url='https://github.com/Mahesh-Ranaweera/ParadigmShift2198_wDatabase';
        a(href=url target='blank')
          div(class='app_link_btn smooth')
            | <span class="typcn typcn-social-github">
        - var url='https://www.youtube.com/user/paradigmshift2198';
        a(href=url target='blank')
          div(class='app_link_btn smooth')
            | <span class="typcn typcn-social-youtube">
      

      