div(class='app_social_bar')
    - var url = '/';
    a(href=url)
        div(class='app_social_icons smooth')
        
    - var url = 'https://github.com/Mahesh-Ranaweera';
    a(href=url)
        div(class='app_social_icons smooth')
            <span class="typcn typcn-social-github">
    - var url = 'https://www.youtube.com/channel/UCmBeg1qkhRQp97l-gV7X9rA';
    a(href=url)
        div(class='app_social_icons smooth')
            <span class="typcn typcn-social-youtube">
    - var url = 'https://vimeo.com/mi6softlab';
    a(href=url)
        div(class='app_social_icons smooth')
            <span class="typcn typcn-social-vimeo">
    - var url = 'https://www.behance.net/mi6softlab';
    a(href=url)
        div(class='app_social_icons smooth')
            <span class="typcn typcn-social-dribbble">
    - var url = '/';
    a(href=url)
        div(class='app_social_icons smooth')